*{
    padding: 0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
    
}

#na>nav{
    display:inline-block;
}

#na {
    
    width: 1728px;
    line-height: 86px;
    flex-shrink:0;
    background-color: #FCAF02;
    
}
#mar {
    width: 127px;
    line-height: 39px;
    margin-top:58px;
    margin-left: 58px;

    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    text-decoration:underline;
    
}

#ev {
    width: 87px;
    margin-top:26px;
    margin-left:770px;

    font-family: Montserrat;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;


}

#fv {

    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    
    width: 130px;
    margin-top:26px;
    
}
    
#gv {
    font-family: Montserrat;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
}

#hv{
    font-family: Montserrat;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;

}

#col{
    width:113vw;
    height:100vh;
    background-color:black;

}
#start{
    width: 736px;
  height: 78px;
  margin-top: 0px;
  margin-left: 58px;

  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  
color: #FFFFFF;

}
#lorem{
    width: 917px;
    height: 238px;
    margin-top: 52px;
    margin-left: 63px;
    
    font-family: Montserrat;
font-size: 28px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color:white;



}

#log{
   width: 12vw;
   height:6vh;
   margin-left:63px;
   border-top-left-radius:25px;
   border-bottom-left-radius:25px;
   border-top-right-radius:25px;
   border-bottom-right-radius:25px;
   background-color: #FCAF02;
}

#tr{
font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

color: #000000;


}

#hm>b{
    
    border-width: 1570px;
    
    margin-top: 913px;
    margin-left: 63px;
    border-radius: 100px;
    
    border: 2px solid #FCAF02;

}